* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav  {
    height:  80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) /2);
}

.logo {
   color:floralwhite;
   font-size: 1.5rem;
   font-weight: bold;
   font-style: italic;
   padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color:floralwhite;
    padding: 0 1.5rem;

}

.hero {
    background: rgb(224, 155, 17);
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) /2);

}

.colum-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000000;
    padding: 0rem 2rem;

}

.colum-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;

}

.colum-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #000000;
    background: floralwhite;
    cursor: pointer;
    border-radius: 50px;

}

button:hover {
    background:#000000;
    color: #000000;

}

column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 20%;
    height: 20%;

}

@media  screen and (max-width:768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }    
}